# Proyecto 3

### Importar Datos

In [8]:
import pandas as pd

df = pd.read_csv("pmt_septiembre.csv")

df.head()

        FECHA   HORA  ESTADO          TIPO_TRAFICO                 NOMBRE
0  2025-09-01  05:00       2              moderado  20 CALLE - 18 AVENIDA
1  2025-09-01  05:00       2              moderado    PROCERES - OBELISCO
2  2025-09-01  05:00       5      congestion grabe    ROOSEVELTH - TREBOL
3  2025-09-01  05:00       2              moderado    AG. BATRES - TREBOL
4  2025-09-01  05:00       4  congestion 5km/hora       SAN JUAN - TREBOL

### Descripción de datos

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4826 entries, 0 to 4825
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FECHA         4826 non-null   object
 1   HORA          4826 non-null   object
 2   ESTADO        4826 non-null   int64
 3   TIPO_TRAFICO  4826 non-null   object
 4   NOMBRE        4826 non-null   object
dtypes: int64(1), object(4)
memory usage: 188.6+ KB

            ESTADO
count  4826.000000
mean      2.926026
std       0.867919
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       5.000000

### Creación de labels

In [10]:
df["TIPO_TRAFICO_INT"], trafico_labels = pd.factorize(df["TIPO_TRAFICO"])
df["NOMBRE_INT"], nombre_labels = pd.factorize(df["NOMBRE"])

print("TIPO_TRAFICO codificado:")
print(dict(enumerate(trafico_labels)))

print("\nNOMBRE codificado:")
print(dict(enumerate(nombre_labels[:10]))) 

df.head()

TIPO_TRAFICO codificado:
{0: 'moderado', 1: 'congestion grabe', 2: 'congestion 5km/hora ', 3: 'trafico 10km/hora', 4: 'fluido'}

NOMBRE codificado:
{0: '20 CALLE - 18 AVENIDA', 1: 'PROCERES - OBELISCO', 2: 'ROOSEVELTH - TREBOL', 3: 'AG. BATRES - TREBOL', 4: 'SAN JUAN - TREBOL', 5: 'KM 4.5 - JOSE MILLA', 6: 'KM 9 - KM 4.5 ATLANTICO', 7: 'BLVD. LOURDES - ZONA 4', 8: 'LOS OLIVOS - ATLANTIDA', 9: 'ATANASIO 53 - ATANASIO 8'}

,FECHA,HORA,ESTADO,TIPO_TRAFICO,NOMBRE,TIPO_TRAFICO_INT,NOMBRE_INT
0,2025-09-01,05:00,2,moderado,20 CALLE - 18 AVENIDA,0,0
1,2025-09-01,05:00,2,moderado,PROCERES - OBELISCO,0,1
2,2025-09-01,05:00,5,congestion grabe,ROOSEVELTH - TREBOL,1,2
3,2025-09-01,05:00,2,moderado,AG. BATRES - TREBOL,0,3
4,2025-09-01,05:00,4,congestion 5km/hora,SAN JUAN - TREBOL,2,4

In [11]:
# valores nulos
print(df.isnull().sum())

FECHA               0
HORA                0
ESTADO              0
TIPO_TRAFICO        0
NOMBRE              0
TIPO_TRAFICO_INT    0
NOMBRE_INT          0
dtype: int64

### Creación de listas

In [12]:
ritmo = df["ESTADO"].astype(int).tolist()
melodia = df["TIPO_TRAFICO_INT"].astype(int).tolist()
textura = df["NOMBRE_INT"].astype(int).tolist()

In [13]:
print("Tamaños:", len(ritmo), len(melodia), len(textura))

print("\nData ejemplo:")
print("Ritmo ->", ritmo[:10])
print("Melodía ->", melodia[:10])
print("Textura ->", textura[:10])

Tamaños: 4826 4826 4826

Data ejemplo:
Ritmo -> [2, 2, 5, 2, 4, 4, 4, 3, 4, 2]
Melodía -> [0, 0, 1, 0, 2, 2, 2, 3, 2, 0]
Textura -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]